{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="{%static 'user_management/css/signup.css'%}" />
  </head>
  <body>
    <div class="container">
      <h1>Sign Up</h1>
      <form id="signup-form">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="phone">Phone Number:</label>
          <input type="text" id="phone" name="phone" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Sign Up</button>
      </form>
      <div class="login-link">
        Already have an account? <a href="{% url 'loginPage' %}">Login</a>
      </div>
      <script src="{%static 'user_management/js/signup.js'%}"></script>
    </div>
  </body>
</html>
